.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formFieldWrapper {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.formFieldWrapper label {
  margin: 10px;
}

.imgInputBtn {
  width: 185px;
}

.submitPigBtn {
  width: 100%;
}