.pigCard {
  background-color: lightgray;
  width: 350px;
  height: auto;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.pigImg {
  width: 100%;
}
.addToCartBtn{
  margin: 5px;
}